/* ===== Google Font Import - Poppins ===== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===== Color Variables ===== */

:root {
  --primary-color: #4e98f7;
  --background-color: #f0faff;
  --sidebar-color: #242526;
  --text-color: #fff;
  --text-secondary-color: #11101d;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  background-color: var(--background-color);
  transition: all 0.4s ease;
}
body.dark {
  --primary-color: #242526;
  --background-color: #18191A;
  --sidebar-color: #242526;
  --text-color: #CCC;
  --text-secondary-color: #fff;
}
.nav {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.nav,
.nav .nav-links,
.nav .nav-links .projects-dropdown-links {
  display:flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
.nav a,
.nav-links a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
}
.nav-links li a {
  position: relative;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
}
.nav-links li:hover a::before {
  opacity: 1;
}

.nav-links .projects-dropdown-links li a::before {
  content: none;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
  color: var(--text-color);
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
/* .nav.openSearch .nav-links a{
  opacity: 0;
  pointer-events: none;
} */
.nav .logo {
  font-size: 22px;
  font-weight: 500;

}

/* ===== search-box / darLight ===== */

.darkLight-searchBox {
  display: flex;

}
.darkLight-searchBox .darkLight,
.darkLight-searchBox .searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 5px;
}
.nav .moonIcon,
.nav .searchIcon {
  font-size: 20px;
  color: var(--text-color);
  cursor: pointer;
}

.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  top: 70px;
  right: 190px;
  border: 4px solid var(--primary-color);
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
}
.search-box input {
  height: 100%;
  width: 100%;
  background-color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0 15px 0 45px;
}
body.dark .search-box input {
  background-color: var(--primary-color);
  color: var(--text-color);
}
body.dark .search-box .search-icon,
body.dark .search-box input::placeholder {
  color: var(--text-color);
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* ===== projects menu ===== */

.nav-links .projects-menu {
  position: relative;
}
.nav-links .projects-dropdown-links {
  flex-direction: column;
  /* column-gap: 12px; */
  list-style: none;
  row-gap: 10px;
  padding: 20px;
  position: absolute;
  transform: translateX(-25%);
  background: var(--primary-color);
  border-radius: 0 0 8px 8px;
  top: 70px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}

/* responsive */

@media screen and (max-width: 1160px){
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 90px;
  }
}
@media screen and (max-width: 950px){
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    /* right: 100px; */
    max-width: 400px;
  }
}
@media screen and (max-width: 768px){
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: var(--sidebar-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}
