/* ===== Google Font Import - Poppins ===== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===== color variables ===== */

:root {
  --primary-color: #4e98f7;
  --background-color: #f0faff;
  --sidebar-color: #242526;
  --sidebar-secondary-color: #323232;
  --text-color: #fff;
  --text-secondary-color: #11101d;
  --title-secondary-color: #4e98f7;
}

/* ===== general ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  background-color: var(--background-color);
  transition: all 0.4s ease;
  width: 100vw;
}
body.dark {
  --primary-color: #242526;
  --background-color: #18191A;
  --sidebar-color: #242526;
  --text-color: #CCC;
  --text-secondary-color: #CCC;
}

h1, h2, h3, h4, h5, h6, p {
  /* font-weight: 500; */
  padding: 0 0 10px 0;
  color: var(--text-secondary-color);
  transition: all 0.2s ease;
}
h4 { font-size: 36px; }
h5 { font-size: 30px; }
h6 { font-size: 24px; }
p { font-size: 16px;}

/* ===== nav ===== */

.nav {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 15px 200px;
  background: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 80px;
}
.nav,
.nav .nav-links {
  display:flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
  z-index: 100;
}
.nav a,
.nav-links a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
}
.nav-links li a {
  position: relative;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
}
.nav-links li:hover a::before {
  opacity: 1;
}

.nav-links .projects-dropdown-links li a::before {
  content: none;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
  color: var(--text-color);
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
/* .nav.openSearch .nav-links a{
  opacity: 0;
  pointer-events: none;
} */
.nav .logo {
  font-size: 22px;
  font-weight: 500;

}

/* ===== search-box / darLight ===== */

.darkLight-searchBox {
  display: flex;

}
.darkLight-searchBox .darkLight,
.darkLight-searchBox .searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 5px;
}
.nav .moonIcon,
.nav .searchIcon {
  font-size: 20px;
  color: var(--text-color);
  cursor: pointer;
}

.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  top: 100px;
  right: 200px;
  border: 4px solid var(--primary-color);
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
}
.search-box input {
  height: 100%;
  width: 100%;
  background-color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0 15px 0 45px;
}
body.dark .search-box input {
  background-color: var(--primary-color);
  color: var(--text-color);
}
body.dark .search-box .search-icon,
body.dark .search-box input::placeholder {
  color: var(--text-color);
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* ===== projects menu ===== */

.nav .nav-links .projects-dropdown-links {
  display:flex;
  align-items: center;
}

.nav-links .projects-menu {
  position: relative;
  text-align: center;
}
.nav-links .projects-dropdown-links {
  flex-direction: column;
  /* column-gap: 12px; */
  list-style: none;
  row-gap: 10px;
  padding: 20px;
  position: absolute;
  transform: translateX(-29%);
  background: var(--primary-color);
  border-radius: 0 0 8px 8px;
  top: 60px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  width: 200px;
  text-align: center;
  /* transition: all 0.2s ease; */
  opacity: 0;
  pointer-events: none;
  display: none;
}

.nav-links .projects-dropdown-links.openProject {
  opacity: 1;
  pointer-events: auto;
}
.nav-links .projects-menu .projects{
  position: relative;
}
.nav-links .projects-menu .projects i {
  position: absolute;
  font-size: 30px;
  color: var(--text-color);
  cursor: pointer;
  top: -8px;
  opacity: 0;
  pointer-events: none;
}

/* ===== section ===== */

.section {
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  /* z-index: -100; */
  padding: 5% 10%;
  width: 100vw;
}

/* ===== containers ===== */

.container-projects {
  height: 100%;
  width: 100%;
  max-width: 100vw;
}
.container-project-all {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 0 50px;

}

.container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 0 50px;
}
.container-right .container-right-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  padding-bottom: 25px;
}
.container-right .container-right-top .content-right-top {
    width: 100%;
    border-radius: 8px;
}

.container-right .container-right-bot {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  padding-top: 25px;
}
.container-right .container-right-bot .content-right-bot {
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 16/9;
}

/* .container-home,
.container-about-me,
.container-contact-me,
.container-projects,
.container-project-all {
transition: all 0.4s ease;
} */

/* ===== containers links ===== */

.container-about-me a,
.container-contact-me a,
.container-projects a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-size: 36px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

/* ===== span / title projects ===== */

.container-projects .container-left .text-title {
  display: flex;
  align-items: center;
}
.container-projects .container-left u {
  text-decoration-color: var(--title-secondary-color);
  text-decoration-thickness: 4px;
}
.container-projects .container-left span {
  font-size: 150%;
  color: var(--title-secondary-color);
}

/* ===== span / links ===== */

.container-contact-me span {
  font-style: normal;
}
/* .container-contact-me .container-right {
  align-items: flex-start;
} */

/* ===== avatar ===== */

.avatar-big {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* ===== hide pages ===== */

.hide {
  display: none;
  /* transition: all 0.4s ease; */

}

/* ===== responsive ===== */

@media screen and (max-width: 1160px){
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 100px;
  }
  .section {
    height: initial;
    width: 100vw;
  }
  .container-project-all {
    flex-direction: column;
  }
  .container-left,
  .container-right {
    width: 100%;
    padding: 0;
  }

}
@media screen and (max-width: 950px){
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 50px;
    /* max-width: 400px; */
  }
}
@media screen and (max-width: 768px){
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: var(--sidebar-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    /* z-index: 100; */
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .nav-links .projects-dropdown-links {
    transform: none;
    border-radius: 4px;
    /* border: 1px solid var(--text-color); */
    box-shadow: none;
    background: var(--sidebar-secondary-color);
    margin-top: 20px;
    transition: none;
  }
  .nav-links .projects-dropdown-links.openProject {
    position: initial;
  }
  .nav-links li a::before {
    content: none;
  }
  .nav-links .projects-menu .projects i {
    opacity: 1;
    pointer-events: auto;
  }
}
